@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap');

@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}

@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 700;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype')
}

@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 300;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
}

.nanumbarungothic * {
    font-family: 'NanumBarunGothic', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    line-height: 1;
    background: url(../img/롯데시네마/lottebackgroundblack.jpg)no-repeat;
    font-family: 'NanumBarunGothic', sans-serif;
    min-width: 1920px;
    width:100%;
}



header {
    width: 1920px;
    z-index: 9999;
    position: relative;
    
}

header .inner {
    width: 1440px;
    margin: 0 auto;
}

header .inner .hd_top {
    height: 70px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

header .inner .hd_top h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 0;
    height: 40px;
}

header .inner .hd_top ul li {
    display: inline-block;
    font-size: 12px;
    margin-top: 40px;
    color: #656565;
}

header .inner .hd_top h1 a img {
    height: 40px;
}

header .inner .hd_top .left_menu li {
    margin-right: 15px;
}

header .inner .hd_top .right_menu li {
    margin-left: 15px;
}

header .inner .hd_top::before {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #B2B2B2;
    position: absolute;
    top: 100%;
    left: 0;
}

header .inner nav {
    height: 56px;
    line-height: 56px;
    text-align: center;
}

header .inner nav .gnb .depth01 {
    display: inline-block;
    text-align: center;
    color: white;
}

header .inner nav .gnb .depth01>a {
    padding: 0 30px;
}

header .inner nav .gnb .depth01 .depth02 {
    width: 1920px;
    height: 38px;
    line-height: 38px;
    position: absolute;
    top: 123px;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
    display: none;
    color: #666;
}

header .inner nav .gnb .depth01 .depth02 li {
    margin: 0 15px;
    display: inline-block;
}

header .inner nav .gnb .depth01:hover .depth02 {
    display: block;
}

header .inner nav .gnb .depth01 .depth02 .depth03 {
    width: 1920px;
    position: absolute;
    top: 38px;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
    display: none;
}

header .inner nav .gnb .depth01 .depth02 .depth03 li {
    margin: 0 10px;
}

header .inner nav .gnb .depth01 .depth02 li:nth-child(1):hover .depth03 {
    display: block;
}

header .inner nav .gnb .depth01 .depth02 li:nth-child(2):hover .depth03 {
    display: block;
}

header .inner nav .gnb .depth01 .depth02 li:nth-child(3):hover .depth03 {
    display: block;
}

header .inner nav .gnb .depth01 .depth02 li:nth-child(4):hover .depth03 {
    display: block;
}

header .inner nav .gnb .depth01 .depth02 li:nth-child(5):hover .depth03 {
    display: block;
}

header .inner nav .gnb .depth01 .depth02 li:nth-child(6):hover .depth03 {
    display: block;
}

header .inner nav .gnb .depth01 .depth02 li:nth-child(7):hover .depth03 {
    display: block;
}

header .inner nav .gnb .depth01 .depth02 li:nth-child(8):hover .depth03 {
    display: block;
}

header .inner nav .gnb .depth01 .depth02 li:nth-child(9):hover .depth03 {
    display: block;
}

header .inner .hd_bottom {
    color: white;
    text-align: right;
    font-size: 13px;


}

header .inner .hd_bottom ul li {
    display: inline-block;
    margin-left: 20px;
}

.boxoffice {
    width: 1440px;
    height: 751px;
    margin: 0 auto;
}

.boxoffice .maintext01 {
    width: 100px;
    height: 25px;
    margin: 0 auto;
    color: white;
}

.boxoffice .maintext01 p {
    font-size: 20px;
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.boxoffice .maintext01 a {
    color: #AAAAAA;
    text-align: right;
}

.boxoffice .cont01 {
    margin-top: 20px;
    width: 1440px;
    height: 516px;
    display: flex;
    justify-content: space-between;

}

.boxoffice .cont01 .item {
    width: 342px;
    height: 472px;
    position: relative;

}

.boxoffice .cont01 .item img {
    width: 342px;
    height: 472px;
    border-radius: 5px;
    overflow: hidden;

}

.boxoffice .cont01 .item::before {
    content: '';
    width: 342px;
    height: 472px;
    background-color: rgba(0, 0, 0, 0.527);
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
    opacity: 0;
}

.boxoffice .cont01 .item span {
    position: absolute;
    top: 0;
    left: 0;
    margin: 30px 30px;
    height: 100px;
    line-height: 1.5;
    transition: 0.5s;
    color: whitesmoke;
    opacity: 0;
}


.boxoffice .cont01 .item:hover span {
    opacity: 1;
}

.boxoffice .cont01 .item:hover::before {
    opacity: 1;
}

.boxoffice .cont01 .item .likebutton {
    width: 112px;
    height: 34px;
    text-align: center;
    line-height: 34px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    border: 1px solid#555555;
    display: inline-block;
    font-size: 13px;
    margin-top: 10px;
    color: white;
}

.boxoffice .cont01 .item .bookingbutton {
    width: 222px;
    height: 34px;
    text-align: center;
    line-height: 34px;
    background-color: #037B94;
    border-radius: 4px;
    display: inline-block;
    font-size: 13px;
    margin-top: 10px;
    color: #000;
}

.boxoffice .fast_menu {
    width: 1440px;
    height: 75px;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 50px auto;
    line-height: 75px;
    text-align: center;
}

.boxoffice .fast_menu .fast_menu_item {
    width: 355px;
    display: inline-block;
    color: white;
}

.boxoffice .fast_menu .fast_menu_item p img {
    width: 18px;
    height: 18px;
}

.boxoffice .fast_menu .fast_menu_item input {
    width: 170px;
    height: 20px;
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-bottom: 1px solid #444;
    color: #aaa;
}

.boxoffice .fast_menu .fast_menu_item button {
    font-size: 18px;
    border: none;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
}



.special {
    width: 1920px;
    height: 500px;
    background-color: white;
}

.special .wrap {
    width: 1440px;
    height: 361px;
    padding: 40px 240px;
}

.special .wrap h2 {
    font-size: 26px;
    font-weight: bold;
}

.special .wrap a p {
    text-align: right;
}

.special .wrap .special_cont01 {
    display: flex;
    margin-top: 30px;
}

.special .wrap .special_cont01 .special_item01 {
    width: 708px;
    height: 300px;
    margin-left: 24px;
}

.special .wrap .special_cont01 .special_item01 ul li a img {
    width: 116px;
    height: 24px;
    margin-left: 20px;
}

.special .wrap .special_cont01 .special_item01 ul li a p {
    font-size: 18px;
    margin-right: 20px;
    background-color: #F6F6F6;
    line-height: 1.9;
    color: #666;
    text-align: right;
    border-radius: 5px;
    ;


}

.special .wrap .special_cont01 .special_item01 ul li a {
    width: 708px;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 75px;
    border-bottom: 1px solid#E9E9E9;
}

.special .wrap .special_cont01 .special_item01 ul li:hover {
    border: 1px solid#000;
    border-radius: 10px;
}



.event01 {
    width: 1920px;
    height: 900px;
    background-color: white;
}

.event01 .wrap02 {
    width: 1452px;
    height: 825px;
    margin: 0 auto;
}

.event01 .wrap02 h2 {
    margin-bottom: 30px;
}

.event01 .wrap02 .event01_flex {
    display: flex;
}

.event01 .wrap02 .event01_flex img {
    margin: 0 0 11px 11px;
}

.event01 .event01_wrap {
    width: 1452px;
    height: 770px;
    margin: 0 auto;
}

.event01 .event01_wrap img {
    vertical-align: top;
}



.preview01 {
    width: 1920px;
    height: 800px;
    background-color: white;
}

.preview01 .wrap03 {
    width: 1440px;
    margin: 0 auto;
}

.preview01 .wrap03 h2 {
    margin-bottom: 30px;
}

.preview01 .wrap03 .preview_cont01 {
    display: flex;
    justify-content: space-between;
}

.preview01 .wrap03 .preview_cont01 .preview_item01 img {
    width: 464px;
    height: 272px;
    border-radius: 4px;
}


.preview01 .wrap03 .preview_cont02 {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.preview01 .wrap03 .preview_text {
    display: flex;
    margin-top: 86px;
    border-bottom: 1px solid#AAAAAA;
    height: 30px;
}

.preview01 .wrap03 .preview_text h3 {
    line-height: 17px;
    height: 17px;
    font-size: 17px;
    border-right: 1px solid#000;
}

.preview01 .wrap03 .preview_text p {
    font-size: 17px;
}

.preview01 .wrap03 .preview_text a {
    text-align: right;
    color: #666666;
}


footer {
    width: 1920px;
    height: 300px;
    background-color: white;
    position: relative;
}

footer .wrap01 {
    width: 1440px;
    height: 100%;
    margin: 0 auto;
}

footer .wrap01 .footer_top {
    width: 100%;
    height: 15px;
    margin-top: 35px;
}

footer .wrap01 .footer_top ul li {
    display: inline-block;
    border-right: 1px solid#707070;
    padding-right: 10px;
    font-size: 13px;
}

footer .wrap01 .footer_top ul li:nth-child(3) a {
    font-weight: bold;
}

footer .wrap01 .footer_middle ul li {
    display: inline-block;
    margin-top: 15px;
    color: #4D4D4D;
    font-size: 13px;
}

footer .wrap01 .footer_bottom ul li {
    display: inline-block;
    margin-top: 5px;
    color: #4D4D4D;
    font-size: 13px;
}

footer .wrap01 p {
    margin-top: 5px;
    color: #4D4D4D;
    font-size: 13px;
}

footer .wrap01 .footer_pictures {
    width: 1920px;
    height: 82px;
    background-color: #F5F5F5;
    position: absolute;
    top: 100%;
    left: 0;
    transform: translateY(-100%);
}

footer .wrap01 .footer_background {
    width: 1440px;
    display: flex;
    justify-content: space-between;
    margin: 20.5px auto;
}
